* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: rgb(31, 31, 31);
    min-height: 100vh;
    color: white;
}

.heading {
    font-size: 28px;
    font-weight: 700;
    margin-block: 2rem;
}


.game-board {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* aspect-ratio: 1 / 1; */
    gap: 0.5rem;
    width: min(500px, 100% - 4rem);
    margin-inline: auto;
    margin-block: 1rem;
    
    .card {
        background-color: gray;
        cursor: pointer;
        transition: background-color .3s ease-in;
        border-radius: 10px;
        font-size: 4em;
        width: 120px;
        height: 120px;
        display: grid;
        place-content: center;
        transform-style: preserve-3d;
        transition: transform 0.3s ease;
        

        &:hover {
            background-color: #27d4ff;
        }
    }

    .card.flipped {
        transform: rotateY(180deg);
        background-color: #fff;
    }

}

.reset-button {
    all: unset;
    background-color: red;
    color: white;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 1;
    }
}

.confetti-canvas {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.congratulation-message {
    position: fixed;
    inset: 0;
    display: grid;
    place-content: center;
    pointer-events: none;
    font-size: 48px;
    font-weight: 500;
}